# This is a CODEOWNERS file.
# Each line is a file pattern followed by one or more owners.

# Default owners for the entire repository
* @Christopher-Powers @Brofessortec @DScottyS @gqfrisby @minknd @rockcm @Zach1204
